legend {
    font-size: 30px;
    font-family: cursive;
}

input[type=text] {
     
     border-top: blue;
     background-color: brown;

}

input[type=text]:focus {
    background-color: cornsilk;
}

textarea:focus-visible {
    resize: none;
    width: 100%;
    height: 150px;
    background-color: rgb(220, 20, 160);
    

}

button {
   font-size: 50px;
   border-radius: 30px;
}